.left-narrow {               /* 이미 정의돼 있으므로 여기에만 덧붙이면 됩니다 */
  margin-left: 3rem;         /* 제목보다 2 rem 안쪽에서 시작 */
  width: calc(100% - 3rem);        /* 남은 가로폭만 사용 */
}

.abstract-text a {
  color: #7851A9 !important;
}

/* thin grey line between sections */
.section-divider {
  border: 0;                 /* 기본 hr 테두리 제거 */
  border-top: 1px solid #e0e0e0;  /* 연한 회색 선 */
  mmargin: 0.75rem 0;
}
section.section {           /* 모든 섹션 패딩 ↓ */
  padding: 1.0rem 0;        /* 필요하면 1rem 등으로 더 줄이세요 */
}

body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.dperact {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.teaser video {
  object-fit: fill;
  
}
#glass{
  margin-left: -10px;
}

.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
  color: #7851A9 !important;  /* RoyalPurple */
/*    color: hsl(121, 100%, 36%) !important; */
}

.conference-authors a {
   color: #B83A4B !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100vh;
  background-size: cover;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

#interpolation-image img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

 .dropdown-item{
    white-space: pre-wrap;
}  


.justify {
  text-align: justify;
}

.has-text-size-4 { 
  font-size: 2.5rem; /* 或者你可以设置一个更大的值，比如 2rem */ 
}
